@page "/workouts/addworkout"

@inject IAddWorkoutUseCase AddWorkoutUseCase
@inject NavigationManager NavigationManager

<PageTitle>Add Workout</PageTitle>
<h3>Add Workout</h3>

<MudCard>
    <MudCardContent>
        <EditForm Model="@workout" OnValidSubmit="SaveWorkout">
            <DataAnnotationsValidator />
            <MudTextField @bind-Value="workout.Name" Label="Workout Name" Variant="Variant.Outlined" Margin="Margin.Dense" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddExercise" Class="mt-4 mb-4">Add Exercise</MudButton>

            @for (int i = 0; i < workout.Exercises.Count; i++)
            {
                int index = i;
                <MudCard Class="mt-4">
                    <MudCardContent>
                        <MudStack Spacing="2" Style="width: 300px;">
                            <MudTextField @bind-Value="workout.Exercises[index].Name" Label="Exercise Name" Variant="Variant.Outlined" AutoFocus />
                            <MudNumericField @bind-Value="workout.Exercises[index].Sets" Label="Sets" Variant="Variant.Outlined" />
                            <MudNumericField @bind-Value="workout.Exercises[index].Reps" Label="Reps" Variant="Variant.Outlined" />
                            <MudNumericField @bind-Value="workout.Exercises[index].Weight" Label="Weight" Variant="Variant.Outlined" />
                            <MudTextField @bind-Value="workout.Exercises[index].Notes" Label="Notes" Variant="Variant.Outlined" Lines="3" />
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            }

            @if (workout.Exercises.Any())
            {
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">Save Workout</MudButton>
            }
        </EditForm>
    </MudCardContent>
</MudCard>

@code {
    private Workout workout = new();

    private void AddExercise()
    {
        workout.Exercises.Add(new Exercise());
        StateHasChanged();
    }

    private async Task SaveWorkout()
    {
        await AddWorkoutUseCase.ExecuteAsync(workout);
        NavigationManager.NavigateTo("/workouts");
    }
}