@inject IDeleteWorkoutTemplateUseCase DeleteWorkoutUseCase
@inject NavigationManager NavigationManager

@if (WorkoutTemplate is not null)
{

    <tr>

        <td>@WorkoutTemplate.Name</td>

        <td>
            @{
                <MudButton Class="mud-theme-primary" Variant="Variant.Filled">Start</MudButton>
            }
        </td>

        <td>
            @{
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open workout options">
                    <MudMenuItem Href="@($"workouts/editworkouttemplate/{WorkoutTemplate.Id}")">Edit</MudMenuItem>
                    <MudMenuItem OnClick="async () => { await HandleDelete(WorkoutTemplate.Id); }">Delete</MudMenuItem>
                </MudMenu>
            }
        </td>

    </tr>

}

@code {
    [Parameter]
    public WorkoutTemplate? WorkoutTemplate { get; set; }

    private async Task HandleDelete(int workoutId)
    {
        await DeleteWorkoutUseCase.ExecuteAsync(workoutId);
        WorkoutTemplate = null;
    }
}
