<MudCard Elevation="3" Class="mb-4">
    <MudCardContent>
        <MudGrid>
            <MudItem xs="6">
                <MudTextField T="string"
                              Value="@WorkoutViewModel.Name"
                              ValueChanged="@(value => OnWorkoutNameChanged.InvokeAsync(value))"
                              Label="Workout Name"
                              Variant="Variant.Filled"
                              Margin="Margin.Dense"
                              Required="true"
                              RequiredError="Workout Name Required."
                              Clearable="true" />
            </MudItem>

            <MudItem xs="6" Class="d-flex justify-end align-center">
                <div style="margin-left: auto; display: flex;">
                    <WorkoutTimer StartTime="WorkoutViewModel.StartTime" />

                    <RestTimer />
                    
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert"
                             AriaLabel="Open workout options"
                             AnchorOrigin="Origin.BottomLeft"
                             TransformOrigin="Origin.TopCenter">
                        <MudMenuItem OnClick="ExerciseAdded"
                                     Icon="@Icons.Material.Filled.AddCircle"
                                     IconColor="Color.Success">
                            Add Exercise
                        </MudMenuItem>
                    </MudMenu>
                </div>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public WorkoutViewModel? WorkoutViewModel { get; set; }
     
    [Parameter]
    public EventCallback<string> OnWorkoutNameChanged { get; set; }

    [Parameter]
    public EventCallback OnExerciseAdded { get; set; }

    private async Task ExerciseAdded()
    {
        if (OnExerciseAdded.HasDelegate)
        {
            await OnExerciseAdded.InvokeAsync();
        }
    }
}