@inject IViewWorkoutTemplatesByUserIdUseCase ViewWorkoutsByUserIdUseCase

<MudText Typo="Typo.h5" GutterBottom="true">Workouts</MudText>

<MudSimpleTable Elevation="3">
    <tbody>
        @if (userWorkoutTemplates != null && userWorkoutTemplates.Count > 0)
        {
            @foreach (var workout in userWorkoutTemplates)
            {
                <WorkoutTemplatesItem WorkoutTemplate="workout" />
            }
        }
        else
        {
            <tr>
                <td colspan="2">No workouts available.</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<br />

<MudButton Href="workouts/add-workout-template" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">
    Add Workout
</MudButton>

<br />

@code {
    private List<WorkoutTemplate>? userWorkoutTemplates;
    private Guid userId = new Guid();

    protected override async Task OnParametersSetAsync()
    {
        userWorkoutTemplates = (await ViewWorkoutsByUserIdUseCase.ExecuteAsync(userId)).ToList();
    }
}
