<tr>
    <td>@($"Set {SetIndex + 1}")</td>
    <td>
        <MudNumericField 
                         @bind-Value="Set.Reps"
                         Variant="Variant.Outlined"
                         Margin="Margin.Dense"
                         Min="0" />
    </td>
    <td>
        <MudNumericField @bind-Value="Set.Weight"
                         Variant="Variant.Outlined"
                         Margin="Margin.Dense"
                         Min="0"
                         Adornment="Adornment.End"
                         AdornmentText="lbs"
                         />
    </td>
    @if (SetsCount > 1)
    {
        <td>
            <MudTooltip Text="Delete Set">
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               OnClick="DeleteSet" />
            </MudTooltip>
        </td>
    }
</tr>

@code {
    [Parameter]
    public ExerciseSetTemplateViewModel Set { get;  set;}

    [Parameter]
    public int SetsCount { get; set; }

    [Parameter]
    public int SetIndex { get; set; }

    [Parameter]
    public EventCallback<int> OnSetDelete { get; set; }

    private async Task DeleteSet()
    {
        await OnSetDelete.InvokeAsync(Set.Id);
    }
}